<form action="/answer" method="get" class="form-inline">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Ask your question">
  <input type="submit" value="Go on!" class="btn-primary">
</form>
<h1>- You</h1>
